<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1>Edit Flair</h1>

    <form action="/flairs/<%= flair.name %>/update" method="POST">
      <div class="form-group">
        <label for="flairName">Flair Name</label>
        <input value="<%= flair.name %>" type="text" class="form-control" name="flairName" aria-describedby="flairNameHelp" placeholder="Enter Flair Name">
      </div>
      <div class="form-group">
        <label for="flairColor">Flair Color</label>
          <select name="flairColor" aria-describedby="flairColorHelp">
            <option value="aqua">Aqua</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="maroon">Maroon</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>