<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1>Flairs</h1>
    <ul>
      <% flairs.forEach((flair) => { %>
        <li>
          <a href="/flairs/<%= flair.name %>"><%= flair.name %></a>
        </li>
      <% }) %>
    </ul>
  </main>

  <% include ../static/partials/baseScripts.ejs %>
  
</body>
</html>