<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <h1>Sign In</h1>

    <form action="/users/sign_in" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
        <small class="text-muted" id="emailHelp">Must be a valid email address</small>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter Password">
        <small class="text-muted" id="passwordHelp">Password is invalid</small>
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>